* {
    background-color: aquamarine;
}

.flex-container {
    display: flex;
    flex-direction:row
}

.headshot {
    height: 150px;
    width: 150px;
}

.icon {
    height: 50px;
    width: 50px;
}

.headshot_links {
    display: flex;
    flex-flow: column;
}